node_modules
dist
.tmp
bower_components
test
text/
.editorconfig
.yo-rc.json
app/temp/
app/fonts/
app/vendor/autoload.php
app/styles/.sass-cache
.DS_Store
app/vendor/mpdf
app/vendor/setasign
app/vendor/composer
npm-debug.log